.container {
    align-items: center;
    justify-content: center;
}

input {
    padding: 0.5rem;
}

.search-button {
    padding: 0.5rem;
    background: lightblue;
    font-weight: bold;
    width: 100px;
}

.text-rank-button {
    padding: 0.5rem;
    background: lightpink;
    font-weight: bold;
    width: 100px;
}
